@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    src: url("./assets/fonts/inter.ttf") format("truetype");
  }

  :root {
    --color-primary-50: 214deg 100% 97%;
    --color-primary-100: 214deg 95% 93%;
    --color-primary-200: 213deg 97% 87%;
    --color-primary-300: 212deg 96% 78%;
    --color-primary-400: 213deg 94% 68%;
    --color-primary-500: 217deg 91% 60%;
    --color-primary-600: 221deg 83% 53%;
    --color-primary-700: 224deg 76% 48%;
    --color-primary-800: 226deg 71% 40%;
    --color-primary-900: 224deg 64% 33%;
    --color-primary-950: 226deg 57% 21%;

    --color-neutral-50: 0deg 0% 98%;
    --color-neutral-100: 0deg 0% 96%;
    --color-neutral-200: 0deg 0% 90%;
    --color-neutral-300: 0deg 0% 83%;
    --color-neutral-400: 0deg 0% 64%;
    --color-neutral-500: 0deg 0% 45%;
    --color-neutral-600: 0deg 0% 32%;
    --color-neutral-700: 0deg 0% 25%;
    --color-neutral-800: 0deg 0% 15%;
    --color-neutral-900: 0deg 0% 9%;
    --color-neutral-950: 0deg 0% 4%;

    --color-success-50: 138deg 76% 97%;
    --color-success-100: 141deg 84% 93%;
    --color-success-200: 141deg 79% 85%;
    --color-success-300: 142deg 77% 73%;
    --color-success-400: 142deg 69% 58%;
    --color-success-500: 142deg 71% 45%;
    --color-success-600: 142deg 76% 36%;
    --color-success-700: 142deg 72% 29%;
    --color-success-800: 143deg 64% 24%;
    --color-success-900: 144deg 61% 20%;
    --color-success-950: 145deg 80% 10%;

    --color-warning-50: 55deg 92% 95%;
    --color-warning-100: 55deg 97% 88%;
    --color-warning-200: 53deg 98% 77%;
    --color-warning-300: 50deg 98% 64%;
    --color-warning-400: 48deg 96% 53%;
    --color-warning-500: 45deg 93% 47%;
    --color-warning-600: 41deg 96% 40%;
    --color-warning-700: 35deg 92% 33%;
    --color-warning-800: 32deg 81% 29%;
    --color-warning-900: 28deg 73% 26%;
    --color-warning-950: 26deg 83% 14%;

    --color-error-50: 0deg 86% 97%;
    --color-error-100: 0deg 93% 94%;
    --color-error-200: 0deg 96% 89%;
    --color-error-300: 0deg 94% 82%;
    --color-error-400: 0deg 91% 71%;
    --color-error-500: 0deg 84% 60%;
    --color-error-600: 0deg 72% 51%;
    --color-error-700: 0deg 74% 42%;
    --color-error-800: 0deg 70% 35%;
    --color-error-900: 0deg 63% 31%;
    --color-error-950: 0deg 75% 15%;
  }

  /* html {
    scrollbar-gutter: stable both-edges;
  } */
}

@layer utilities {
  ::-ms-reveal {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
